.balloon-wrapper {
  position: absolute;
  animation: floatUp 6s linear forwards;
  user-select: none;
  cursor: pointer;
  height: 0;

}

.cuerpo {
  background-color: black;
}
.balloon-body {
  width: 60px;
  height: 75px;
  border-radius: 50% 50% 50% 50% / 40% 40% 60% 60%;
  position: relative;
  box-shadow: inset -5px -8px 0 rgba(0, 0, 0, 0.12);
}

.red .balloon-body {
  background-color: var(--balloon-red);
}

.green .balloon-body {
  background-color: var(--balloon-green);
}

.blue .balloon-body {
  background-color: var(--balloon-blue);
}

.black .balloon-body {
  background-color: var(--balloon-black);
}

.yellow .balloon-body {
  border-bottom: 8px solid var(--balloon-yellow);
}

.orange .balloon-body {
  border-bottom: 8px solid var(--balloon-orange);
}

.pink .balloon-body {
  border-bottom: 8px solid var(--balloon-pink);
}

.white .balloon-body {
  border-bottom: 8px solid var(--balloon-white);
}

.balloon-tie {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  margin-top: -1px;
}

.red .balloon-tie {
  border-bottom: 8px solid var(--balloon-red);
}

.green .balloon-tie {
  border-bottom: 8px solid var(--balloon-green);
}

.blue .balloon-tie {
  border-bottom: 8px solid var(--balloon-blue);
}

.black .balloon-tie {
  border-bottom: 8px solid var(--balloon-black);
}

.yellow .balloon-tie {
  border-bottom: 8px solid var(--balloon-yellow);
}

.orange .balloon-tie {
  border-bottom: 8px solid var(--balloon-orange);
}

.pink .balloon-tie {
  border-bottom: 8px solid var(--balloon-pink);
}

.white .balloon-tie {
  border-bottom: 8px solid var(--balloon-white);
}

.balloon-string {
  width: 2px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.15);
}


.balloon-reflect {
  position: absolute;
  width: 10px;
  height: 18px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  top: 12px;
  left: 12px;
  transform: rotate(20deg);
}


@keyframes floatUp {
  0% {
    transform: translateY(95vh);
  }

  100% {
    transform: translateY(-110%);
  }

}